body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 10px;
  background-color: #202b31;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.navbar .logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #75ecec;
}

.navbar img {
  width: 50px;
  padding-left: 20px;
  padding-right: 5px;
}

.nav-text {
  color: #dbd9d9;
  background-color: #202b31;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.nav-text:hover {
  cursor:pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding-left: 10%;
  color: #dbd9d9;
  background-color: #202b31;
  height: 90vh;
}

.title {
  font-size: 3rem;
}

.facts li {
  margin-top: 10px;
}

.facts li::marker {
  font-size: 1.2rem;
  color: #75ecec;
}

.light {
  background-color: #fff;
  color: #13181b;
}